.dropdown-menu {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 80px;
    list-style: none;
}

.dropdown-menu li {
    background-color: #5c8075;
    cursor: pointer;

}

.dropdown-menu li:hover {
    background: #f5d000;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: flex;
    text-decoration: none;
    color: #fff;
}