.dropdown {
    width: 500px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: #5c8075;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #5c8075;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: inline;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}