.navbar {
    background-color: #5c8075;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 15px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    height: 5rem;
    width: 5rem;
}

.paul-signup-icon {
    display: none;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    margin-right: 1rem;
}

.nav-item.aboutus {
    flex: 1;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: Arial;
    font-size: 18px;
    border-bottom: 3px solid transparent;
}

.nav-links:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-links:hover:after {
    width: 100%;
    background: #ffdd40;
}

.nav-links.active {
    color: #490808;
    font-size: 19px;
}

.fa-magnifying-glass {
    color: white;
    cursor: pointer;
}

.nav-icon {
    display: none;
}

.search-bar {
    margin-bottom: 10px;
}

.input {
    background-color: white;
    font-size: 12px;
    width: 200px;
    height: 20px;
    border: 2px solid #5c8075;
    border-radius: 10px;
    top: 22px;
    padding: 2px;
}

button {
    background-color: #5c8075;
    border: 1px solid #5c8075;
    margin: 5px;
}

.notif-icon {
    margin: 30px 10px;
    height: 25px;
    width: 25px;
}

.account-icon {
    margin: 30px 10px;
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 960px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: -100%;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #5c8075;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
    }

    /* .nav-links {
        text-align: center;
        width: 100%;
        display: table;
    } */

    .nav-logo {
        display: none;
    }

    .nav-logo-mobile {
        display: flex;
        /* burger menu espace */
        margin-right: 110px;
        flex: 1;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        height: 4rem;
    }

    .paul-signup-icon {
        display: flex;
        border-radius: 50%;
    }

    .nav-item li {
        margin: auto;
        height: 25px;
    }

    .nav-item.aboutus {
        flex: none;
    }

    .fa-chevron-down {
        display: none;
    }

    .nav-icon {
        display: block;
        position: absolute;
        right: 22px;
        top: 22px;
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffdd40;
    }
}